{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Thumbnail Generator</title>
</head>
<body>
    <p id="chat-log"></p>
    <h1>Thumbnail Generator</h1>
    <form id="form">
        <input type="file" name="image" id="image" />
        <input type="submit" value="upload" />
    </form>
    <img src="https://first-bucket-oma0256.s3.amazonaws.com/rose-blue-flower-rose-blooms-67636.jpeg"/>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" integrity="sha256-A4JwlcDvqO4JXpvEtvWY1RH8JAEMu5W21wP8GUXLUNs=" crossorigin="anonymous"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
    <script>
        const wss_protocol = (window.location.protocol == 'https:') ? 'wss://': 'ws://';
        const chatSocket = new WebSocket(
            wss_protocol + window.location.host + '/thumbnail/'
            );

        const onSubmitHandler = e => {
            e.preventDefault()
            const imageFile = document.querySelector("#image").files
            console.log(imageFile[0].name)
            const fileReader = new FileReader();
            fileReader.onload = function(fileLoadedEvent) {
                const srcData = fileLoadedEvent.target.result;
                console.log(srcData)
                chatSocket.send(JSON.stringify({image: srcData, imageName: imageFile[0].name}))
            }
            fileReader.readAsDataURL(imageFile[0]);
            // AWS.config.region = 'us-east-1'; // Region
            // AWS.config.credentials = new AWS.CognitoIdentityCredentials({
            //     IdentityPoolId: 'us-east-1:392aa878-56e5-4c94-98bc-b69c6b1d2316',
            // });
            // const s3 = new AWS.S3()
            // const params = {
            //     Bucket: 'first-bucket-oma0256',
            //     Key: imageFile[0].name,
            //     Body: imageFile[0]
            // }
            // s3.upload(params, function(err, data) {
            //     console.log(err, data);
            //     chatSocket.send(JSON.stringify({message: 'Thumbnail created'}))
            // });
            // console.log(imageFile[0])
            // const fd = new FormData();
            // fd.append("image", imageFile[0], imageFile[0].name);
            // chatSocket.send(fd)
        }

        chatSocket.onopen = function(e) {
            const form = document.querySelector('#form')
            form.addEventListener("submit", onSubmitHandler)
        }

        chatSocket.onclose = function(e) {
            document.querySelector('#chat-log').value += ('Socket closed unexpectedly, please reload the page.\n')
        };
    </script>
</body>
</html>
